<!DOCTYPE html>
<html>
	<head>
		<title>URL Shortener</title>
	</head>
	<body>
		<h1>URL Shortening Microservice</h1>
		<p> Hey there, this is a small api which helps you to get a short version of an url so that you can easily redirect to that websitge. </p>
		<br>
		<p> If you want short url for any website, just go to the url box, after the current link type "/new/{your link}" and press enter.<br>
		You will get a json telling you the url and a number as short url which will get you back to the same site.</p>
		<p> Example: <br>
			https://urlshortener-snehal96.herokuapp.com/new/google.com
			<br>
			returns the below json file:<br>
			

</html>